@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Glober', 'Roboto', sans-serif; }
  body strong {
    font-weight: 800; }
  body a {
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  body p a {
    color: #1b97ae;
    text-decoration: underline; }
  body .clear-left {
    clear: left; }

#logo {
  margin-top: 1px;
  padding-left: 30px; }
  #logo img {
    margin-top: 25px;
    margin-bottom: 7px; }

#tap-to-talk {
  display: none;
  padding-left: 30px; }
  @media screen and (min-width: 768px) {
    #tap-to-talk {
      margin-top: 20px; } }
  #tap-to-talk a {
    color: #000;
    font-size: 22px;
    font-weight: 800; }
    #tap-to-talk a:hover {
      text-decoration: none; }
    #tap-to-talk a .call {
      display: none; }
      @media screen and (min-width: 768px) {
        #tap-to-talk a .call {
          display: inline; } }
    @media screen and (min-width: 768px) {
      #tap-to-talk a .tap {
        display: none; } }
    #tap-to-talk a #phone-number {
      color: #54b8cd; }
  #tap-to-talk p {
    padding-left: 2px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 100; }
    #tap-to-talk p span {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 22px;
      color: #fff;
      font-size: 14px;
      background-color: #41ad49; }

#introducing {
  background: #4c813d top left repeat-x url("../img/bg-green-leaves.jpg");
  background-size: 100%;
  color: #fff;
  text-align: center;
  -moz-box-shadow: inset 0 -10px 10px -10px rgba(255, 255, 255, 0.83);
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(255, 255, 255, 0.83);
  box-shadow: inset 0 -10px 10px -10px rgba(255, 255, 255, 0.83); }
  #introducing h1 {
    display: inline-block;
    position: relative;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 12px;
    text-align: center; }
    #introducing h1:before {
      content: " ";
      display: block;
      position: absolute;
      top: 43%;
      left: -72px;
      width: 67px;
      height: 2px;
      background-color: #fff; }
    #introducing h1:after {
      content: " ";
      display: block;
      position: absolute;
      top: 43%;
      right: -72px;
      width: 67px;
      height: 2px;
      background-color: #fff; }
  #introducing h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 43px;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 12px;
    margin-left: 15px; }
    @media screen and (min-width: 768px) {
      #introducing h2 {
        text-align: center; } }
    #introducing h2 em {
      font-size: 40px;
      font-style: normal;
      background: transparent bottom left no-repeat url("../img/bg-underline.png");
      padding-bottom: 4px; }
    #introducing h2 sup {
      font-size: 25px; }

#video h1 {
  font-size: 20px;
  line-height: 25px;
  margin-top: 19px;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    #video h1 {
      text-align: center; } }

#video #video-container {
  position: relative; }
  @media screen and (min-width: 768px) {
    #video #video-container {
      width: 600px;
      margin-left: auto;
      margin-right: auto; } }
  #video #video-container #play-button-overlay {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }
    #video #video-container #play-button-overlay #play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -52px;
      margin-left: -63px; }
    #video #video-container #play-button-overlay #tap-to-play {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 35px; }
      @media screen and (min-width: 768px) {
        #video #video-container #play-button-overlay #tap-to-play {
          display: none; } }

#bundles {
  display: none;
  margin-top: 32px; }
  @media screen and (min-width: 768px) {
    #bundles {
      margin-top: 52px; } }
  @media screen and (max-width: 992px) {
    #bundles .bundle {
      padding: 20px 57px 30px 42px; } }
  @media screen and (min-width: 992px) {
    #bundles .bundle {
      padding: 0 22px; } }
  #bundles .bundle.most-popular {
    padding-left: 32px;
    padding-right: 48px; }
    @media screen and (min-width: 992px) {
      #bundles .bundle.most-popular {
        padding: 0 18px; } }
    #bundles .bundle.most-popular > .content {
      -webkit-box-shadow: 0 0 10px #a5a5a5;
      -moz-box-shadow: 0 0 10px #a5a5a5;
      box-shadow: 0 0 10px #a5a5a5;
      background-color: #008ba4;
      padding: 4px 0 15px 0; }
      #bundles .bundle.most-popular > .content:before {
        content: "Most Popular";
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px; }
      #bundles .bundle.most-popular > .content > div {
        -webkit-box-shadow: 0 0 10px #007084;
        -moz-box-shadow: 0 0 10px #007084;
        box-shadow: 0 0 10px #007084;
        margin: 2px 10px 0 10px; }
        #bundles .bundle.most-popular > .content > div .discount {
          top: -40px;
          right: -38px; }
          @media screen and (min-width: 992px) {
            #bundles .bundle.most-popular > .content > div .discount {
              top: -58px; } }
  #bundles .bundle .content > div {
    -webkit-box-shadow: 0 0 10px #a5a5a5;
    -moz-box-shadow: 0 0 10px #a5a5a5;
    box-shadow: 0 0 10px #a5a5a5;
    position: relative;
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 35px; }
    #bundles .bundle .content > div h1 {
      font-size: 25px;
      font-weight: 800;
      margin-top: 12px;
      margin-bottom: 5px; }
    #bundles .bundle .content > div h2 {
      color: #008ba4;
      font-size: 19px;
      font-weight: 100;
      line-height: 22px;
      margin-top: 0; }
    #bundles .bundle .content > div img {
      display: block;
      margin: 30px auto 12px auto; }
    #bundles .bundle .content > div .price {
      display: inline-block;
      position: relative;
      clear: both;
      font-size: 30px;
      font-weight: 800; }
      #bundles .bundle .content > div .price sup {
        font-size: 19px; }
      #bundles .bundle .content > div .price:after {
        content: "USD";
        display: block;
        position: absolute;
        top: 50%;
        right: -30px;
        margin-top: -10%;
        font-size: 12px;
        text-decoration: underline; }
    #bundles .bundle .content > div .daily-rate {
      background: transparent center center no-repeat url("../img/bg-highlight.png");
      font-size: 19px; }
    #bundles .bundle .content > div .discount {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-box-shadow: 0 0 10px #a5a5a5;
      -moz-box-shadow: 0 0 10px #a5a5a5;
      box-shadow: 0 0 10px #a5a5a5;
      position: absolute;
      top: -30px;
      right: -36px;
      width: 70px;
      height: 70px;
      color: #fff;
      font-size: 15px;
      font-weight: 800;
      line-height: 20px;
      text-transform: uppercase;
      background-color: #e87b15;
      padding-top: 17px; }
      @media screen and (min-width: 992px) {
        #bundles .bundle .content > div .discount {
          right: -23px; } }
      #bundles .bundle .content > div .discount em {
        font-size: 22px;
        font-style: normal; }

.add-to-cart, #buy-now .buy-now {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 6px 0 #25875b;
  -moz-box-shadow: 0 6px 0 #25875b;
  box-shadow: 0 6px 0 #25875b;
  display: inline-block;
  position: relative;
  background-color: #38a33f;
  border-bottom: 1px solid #46ab47;
  padding: 4px 30px 0 30px;
  margin-top: 9px;
  margin-left: 30px;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 36px;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s; }
  .add-to-cart:hover, #buy-now .buy-now:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2b7d30;
    -webkit-box-shadow: 0 6px 0 #30af76;
    -moz-box-shadow: 0 6px 0 #30af76;
    box-shadow: 0 6px 0 #30af76; }
  .add-to-cart .fa, #buy-now .buy-now .fa {
    margin-left: 10px;
    font-size: 16px; }
  .add-to-cart:before, #buy-now .buy-now:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: -53px;
    width: 76px;
    height: 76px;
    margin-top: -16px;
    background: transparent center center no-repeat url("../img/7-year-guarantee-add-to-cart.png"); }

#supplement-facts h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-top: 30px; }

#supplement-facts table {
  width: 100%;
  border: 3px solid #000;
  border-collapse: separate;
  border-spacing: 5px;
  padding-bottom: 10px; }
  #supplement-facts table thead th {
    text-align: center;
    font-weight: 800;
    font-size: 33px; }
  #supplement-facts table td {
    vertical-align: top;
    font-size: 17px;
    font-weight: 800;
    line-height: 17px;
    line-height: 17px; }
    #supplement-facts table td:first-child {
      width: 60%; }
    #supplement-facts table td:nth-child(2) {
      width: 40%;
      text-align: right; }
    #supplement-facts table td em {
      font-size: 18px;
      font-style: normal;
      font-weight: 300; }
    #supplement-facts table td span {
      font-size: 15px;
      line-height: 22px; }
  #supplement-facts table .bar {
    background-color: #000; }
    #supplement-facts table .bar.thick {
      height: 15px; }
    #supplement-facts table .bar.thin {
      height: 7px; }

#guarantee {
  margin-top: 20px; }
  #guarantee .content {
    background: #4c813d center center no-repeat url("../img/bg-green-leaves.jpg");
    background-size: auto 100%;
    text-align: center;
    padding: 23px 36px 23px 36px; }
    #guarantee .content > div > div {
      background-color: #fff;
      padding: 18px; }
    #guarantee .content h1 {
      margin-top: 36px;
      text-align: left;
      color: #e47832;
      font-size: 29px;
      font-weight: 800; }
    #guarantee .content p {
      text-align: left;
      font-size: 18px; }
    #guarantee .content aside {
      text-align: center;
      margin: 0px 30px; }
      @media screen and (min-width: 768px) {
        #guarantee .content aside {
          width: 220px;
          margin-left: auto;
          margin-right: auto; } }
      #guarantee .content aside img {
        display: block;
        margin: 0 auto; }
      #guarantee .content aside p {
        border-top: 2px solid #000;
        padding: 18px;
        margin-top: 2px; }

#as-seen-on .content {
  -webkit-box-shadow: 0 0 10px #a5a5a5;
  -moz-box-shadow: 0 0 10px #a5a5a5;
  box-shadow: 0 0 10px #a5a5a5;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 0; }
  #as-seen-on .content > h1 {
    display: block;
    background-color: #4c813d;
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin: 0 0 18px 0; }
  #as-seen-on .content div {
    text-align: center; }
  #as-seen-on .content img {
    display: inline-block;
    margin: 0 auto; }
    #as-seen-on .content img.book {
      float: left;
      margin: 25px 12px 0 12px; }
  #as-seen-on .content p {
    float: left;
    margin-top: 25px;
    text-align: left;
    font-size: 12px; }

#references h1 {
  color: #008ba4;
  font-size: 22px;
  font-weight: 800;
  text-align: center; }

#references ol {
  padding-right: 73px;
  padding-left: 83px; }
  #references ol li {
    font-size: 18px;
    line-height: 24px; }

#buy-now {
  margin-top: 45px;
  text-align: center; }
  #buy-now .buy-now {
    -webkit-box-shadow: 0 8px 0 #25875b;
    -moz-box-shadow: 0 8px 0 #25875b;
    box-shadow: 0 8px 0 #25875b;
    padding: 8px 60px 8px 100px;
    font-size: 22px; }
    #buy-now .buy-now:before {
      left: -31px;
      width: 100px;
      height: 100px;
      background-image: url("../img/7-year-guarantee-buy-now.png"); }
    #buy-now .buy-now .fa {
      font-size: 22px; }

footer {
  padding-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  font-size: 18px; }
  footer img {
    margin-bottom: 13px; }
  footer .list-inline > li {
    color: #616161;
    font-size: 18px;
    padding-right: 0; }
    footer .list-inline > li a {
      color: #757575; }
      footer .list-inline > li a:hover {
        color: #5c5c5c; }
    footer .list-inline > li:before {
      content: "|";
      padding-right: 5px; }
    footer .list-inline > li:first-child:before {
      content: ""; }
